<div class="question-area">
  Q: <%= @card.question %>
</div>
<div class="answer-area" style="display: none;">
  A: <%= @card.answer %>
</div>

<div class="mt-3">
  <%= form_with url: study_session_path(@deck), scope: "study_session", method: "patch" do |f| %>
    <button class="btn btn-primary" id="showBtn">Show</button>
    <%= f.submit "Next", class: "btn btn-primary" %>
  <% end %>
</div>

<script>
    $("#showBtn").on( "click", function(e) {
        e.preventDefault();
        $(".question-area").toggle();
        $(".answer-area").toggle();
    });
</script>