<tr>
  <td>
    <%= link_to user.name, user, class: "font-weight-bold card-title stretched-link" %>
  </td>

  <td>
    <%= user.decks.count %> <%= t :set %>
  </td>

  <td>
    <%= user_image user, class: "rounded-circle", style: "width: 64px; height: 64px;" %>
  </td>
</tr>