<div class="flip-card border-info">
  <div class="flip-card-inner">
    <div class="flip-card-front bg-light">
      <h1 class="question-area">
        <%= @card.question %>
      </h1>
    </div>
    <div class="flip-card-back bg-light ">
      <h1 class="answer-area">
        <%= @card.answer %>
      </h1>
    </div>
  </div>
</div>