<% if current_user.nil? %>
  <footer class="text-muted">
    <div class="container">
      <p class="float-right" style="font-size: 40px">
        <%= link_to '🇬🇧', root_path %>
        <%= link_to '🇯🇵', landing_path(:jp) %>
      </p>
      <p>
        <%= t :footer_text %>
      </p>
    </div>
  </footer>
<% end  %>
