<footer class="text-muted">
  <div class="container">
    <p class="float-right" style="font-size: 40px">
      <%= link_to '🇬🇧', root_url %>
      <%= link_to '🇯🇵', home_url(:jp) %>
    </p>
    <p>
      <%= t :footer_text %>
    </p>
  </div>
</footer>