@import '~bootstrap/scss/bootstrap';
$background_color_1: #fff;

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: $background_color_1;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .container {
    max-width: 40rem;
  }
}
.jumbotron-heading {
  font-weight: 300;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  p {
    margin-bottom: .25rem;
  }
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.nav-link{
  color: white;
}

.bottom-border-input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightblue;
  display: block;
  width: 100%;
}

