<div class="form-group">
  <%= deck_form.fields_for :cards do |f| %>
    <div class="row card-form-row" id=<%= f.index %>>
      <div class="col">
        <%= f.text_field :question, class: "form-control", placeholder: "Question" %>
      </div>
      <div class="col">
        <%= f.text_field :answer, class: "form-control", placeholder: "Answer" %>
      </div>
    </div>
  <% end %>
</div>