$("#<%= @card_row_id %>").find(".suggest-answer").html(`
  <% @suggest_word.each do |word| %>
    <button class="btn btn-outline-primary mt-2 suggest-word">
        <%= word %>
    </button>
  <% end %>
`)
$("#<%= @card_row_id %>").find(".suggest-answer").show();

