<div class="col-md-4">
  <div class="card mb-3" >
    <div class="card-body">
      <h5 class="card-title"><%= deck.name %></h5>
      <p class="card-text">This is</p>
      <p class="card-text mt-5"><small class="text-muted"><%= deck.created_at %></small></p>
    </div>
  </div>
</div>