<% @deck.cards.each do |card| %>
unique_id = + new Date();
$("#firstRow").after(
    `
        <div class="form-group">
            <div class="row card-form-row" id="${unique_id}">
                <div class="col-6">
                    <input value="<%= card.question %>" class="form-control" placeholder="Question" type="text" name="deck[cards_attributes][${unique_id}][question]">
                </div>
                <div class="col-5">
                    <input value="<%= card.answer %>" class="form-control" placeholder="Answer" type="text" name="deck[cards_attributes][${unique_id}][answer]">
                 </div>
                <div class="col-1 float-right">
                    <input type="hidden" value="false" name="deck[cards_attributes][${unique_id}][_destroy]">
                    <button class="btn btn-danger btn-sm deleteRow">
                       <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    `
);
<% end %>