<h3>Create a new study set</h3>
<%= form_with model: @deck, local: true do |f| %>
  <div class="form-group mt-3">
    <div class="row">
      <div class="col-6 mb-3">
        <%= f.text_field :name, class: "bottom-border-input", placeholder: "Set name" %>
      </div>
    </div>
  </div>
  <% 5.times do %>
    <%= render partial: "card_form", locals: { deck_form: f } %>
  <% end %>
  <div class="row justify-content-center">
    <span class="btn-primary btn">Add</span>
  </div>
  <%= f.submit "Create set", class: "btn btn-primary float-right" %>

<% end %>